#page-schedule {
    width: 100vw;
    height: 100vh;

    display: flex;
}

#page-schedule main {
    width: 100%;
    margin: 0 300px;
    margin-top: 45px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .about p {
    margin-top: 15px;
}