#page-schedule {
    width: 100vw;
    height: 100vh;

    display: flex;
}

#page-schedule main {
    width: 100%;
    margin: 0 300px;
    margin-top: 45px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .about p {
    margin-top: 15px;
}

div .contact a {
    background: #43EA82;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 15px 10px;
    margin-top: 25px;
    border-radius: 12px;
    font-weight: 700 !important;
    font-size: 24px !important;
}